class Config(object):
    DEBUG = False
    TESTING = False
    CSRF_ENABLED = True
    SECRET_KEY = 'this-really-needs-to-be-changed'
    SENTRY_DSN = ''
    HAPROXY_URIS = None
    HAPROXY_SOCKET_DIR = None
    HAPROXY_SOCKET_FILE = None

class ProductionConfig(Config):
    pass

class DevelopmentConfig(Config):
    DEVELOPMENT = True
    DEBUG = True


class TestingConfig(Config):
    TESTING = True
